.section {
    position: relative;
    padding-bottom: 60px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    margin-top: 24px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
}

.stats:before,
.stats:after {
    content: '';
    position: absolute;
    top: 22px;
    width: 36px;
    height: 2px;
    display: block;
    pointer-events: none;
}

.stats:before {
    left: 46px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}

.stats:after {
    right: 46px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.stats__value {
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
}

.stats__name {
    font-size: 14px;
    line-height: 24px;
    color: #d0d0d0;
    margin-bottom: 0;
}

.stats__dodger {
    position: absolute;
    display: block;
    width: 16px;
    height: 63px;
    top: 15px;
    pointer-events: none;
}

.stats__dodger--left {
    left: 15px;
}

.stats__dodger--right {
    right: 15px;
}

.stats__dodger--purple {
    background: url('/img/dodgers/stats--purple.svg') no-repeat center;
}

.stats__dodger--orange {
    background: url('/img/dodgers/stats--orange.svg') no-repeat center;
}

.stats__dodger--green {
    background: url('/img/dodgers/stats--green.svg') no-repeat center;
}

.stats__dodger--blue {
    background: url('/img/dodgers/stats--blue.svg') no-repeat center;
}


@media (min-width: 768px) {
    .section {
        padding-bottom: 70px;
    }

}


@media (min-width: 1200px) {
    .section {
        padding-bottom: 100px;
    }

}